* {
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 16px;
}

/*HEADER*/

.header {
    background-color: #ffff;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 91px;
    padding: 5px 10%;
    box-shadow: 0px 5px 2px 0px rgba(0, 0, 0, 0.25);
}

.logo {
    color: #19647E;
    cursor: pointer;
}

.header .nav-links {
    list-style: none;
}

.header .nav-links li {
    display: inline-block;
    padding: 0% 20px;
}

.header .nav-links a {
    font-size: 700;
    color: #000;
    text-decoration: none;
}

.header .nav-links li:hover {
    transform: scale(1.1);
}

.header .nav-links li a:hover {
    color: #19647E;
}

.header .btnis button {
    font-weight: 400px;
    font-size: 16px;
    color: #fff;
    padding: 11px 21px;
    background-color: #19647E;
    border-radius: 44px;
    border: 2px solid #19647E;
    cursor: pointer;
}

.header .btnreg button {
    font-weight: 400px;
    font-size: 16px;
    color: #19647E;
    padding: 11px 21px;
    background-color: #fff;
    border: 2px solid #19647E;
    border-radius: 44px;
    cursor: pointer;
}

/*INICIO*/

.fondo {
    background-image: url(/imagenes/puertomadero.png);
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
}

.divisor-home {
    display: flex;
    flex-direction: row;
    margin-top: 300px;
    margin-left: 70px;
}

.h1inicio {
    justify-content: center;
    display: flex;
    width: 100%;
    height: 111px;
    flex-direction: column;
    justify-content: center;
    padding: 13px 33px 13px 35px;
    text-align: center;
    color: #fff;
    text-align: center;
    font-size: 32px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

/*CAJA TOUR A PIE*/

.tourapie .h2tourpie {
    display: flex;
    width: 420px;
    flex-direction: column;
    justify-content: center;
    flex-shrink: 0;
}

.tourapie .ptourpie {
    display: flex;
    width: 420px;
    height: 143px;
    flex-direction: column;
    justify-content: center;
    flex-shrink: 0;
}


.tourapie {
    display: inline-flex;
    height: 314px;
    width: 50%;
    padding: 0px 12px;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 19px;
    flex-shrink: 0;
    color: #fff;
    text-align: left;
}

.tourapie .rsrbtn button {
    font-weight: 400px;
    font-size: 16px;
    color: #fff;
    padding: 11px 21px;
    background-color: #19647E;
    border: none;
    border-radius: 44px;
    cursor: pointer;
    display: flex;
    width: 418px;
    height: 42px;
    justify-content: center;
    align-items: center;
}

/*CAJA INFO TOUR*/

.infotour {
    width: 572px;
    height: 210px;
    border-radius: 11px;
    background: #FFF;
    display: flex;
    text-align: left;
}

.personas {
    display: flex;
    gap: 37px;
}

.hora {
    display: flex;
    gap: 37px;
}

.idioma {
    display: flex;
    gap: 37px;
}

.info-gratis {
    gap: 100px;
    display: block;
}

.divisor-infortour {
    display: flex;
    padding-left: 50px;
    margin-top: 50px;
    margin-right: 50px;
    margin-bottom: 50px;
}



/*ACTIVIDADES*/

.caja-actividades {
    display: flex;
    flex-direction: row;
    justify-content: center;
    width: 100%;
}

.h1actv {
    justify-content: center;
    display: flex;
    width: 100%;
    height: 111px;
    flex-direction: column;
    padding: 13px 33px 13px 35px;
    color: #000;
    text-align: center;
    font-family: Arial;
    font-size: 32px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.activ-h1 {
    display: inline-block;
}

.actividades {
    width: 333px;
    height: 446px;
    flex-shrink: 0;
    margin: 100px;
    border-radius: 14px;
    display: inline-block;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    gap: 19px;
    display: flex;
}

.actividades .rsrbtn button {
    display: flex;
    width: 333px;
    height: 42px;
    padding: 11px 0px 13px 0px;
    justify-content: center;
    align-items: center;
    flex-shrink: 0;
    border-radius: 44px;
    background: #19647E;
    border: none;
    color: #FFF;
    cursor: pointer;
}

.actividades .rsrbtn button:hover {
    transform: scale(1.1);
}

.caja-tango {
    background-image: url(/imagenes/tango.png);
    border-radius: 14px;
    width: 333px;
    height: 385px;
    color: white;
}

.caja-santelmo {
    background-image: url(/imagenes/santelmo.png);
    border-radius: 14px;
    width: 333px;
    height: 385px;
    color: white;
}

.caja-ateneo {
    background-image: url(/imagenes/imagen\ ateneo.png);
    border-radius: 14px;
    width: 333px;
    height: 385px;
    color: white;
}

.texto-actividades {
    margin-left: 10px;
    margin-top: 90%;
    padding: 5px;
}

/*CONTACTO*/

.contacto-page {
    background-color: #fff;
}

.container {
    display: flex;
    height: 700px;
    width: 1000px;
}

.form {
    padding: 30px 80px;
    width: 50%;
    display: flex;
    flex-direction: column;
    margin-left: 200px;
}

.form h1 {
    color: #000;
    text-align: center;
    font-family: Arial;
    font-size: 24px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.form p {
    color: #000;
    text-align: center;
    font-family: Arial;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    height: 200px;
}

.h1-pcontacto {
    display: block;
    text-align: center;
    margin-left: 200px;
    margin-top: 20px;
}

.h1-form {
    display: block;
}

label {
    font-size: 15px;
    color: #19647E;
    margin-bottom: 16px;
}

.box {
    width: 645px;
    height: 40px;
    border: 0;
    background-color: #f1eeee;
    padding: 15px;
    border-radius: 10px;
    margin-bottom: 25px;
    outline: none;
}

.box:focus {
    border-color: #19647E;
    box-shadow: 0 0 0 0.1rem #19647E;
}

.box-mensaje {
    width: 645px;
    height: 149px;
    flex-shrink: 0;
    padding: 15px;
    border: 0;
    border-radius: 14px;
    background-color: #f1eeee;
    outline: none;
}

.box-mensaje:focus {
    border-color: #19647E;
    box-shadow: 0 0 0 0.1rem #19647E;
}

.box-asunto {
    width: 645px;
    height: 60px;
    border: 0;
    background-color: #ffffff;
    padding: 15px;
    border-radius: 40px;
    margin-bottom: 25px;
    color: black;
    border-radius: 14px;
    border: 2px solid #19647E;
}

.box-bottom {
    display: flex;
    width: 136px;
    padding: 12px 45px;
    justify-content: center;
    align-items: center;
    border-radius: 44px;
    background: #19647E;
    color: white;
    border: none;
    cursor: pointer;
}

.img-1 {
    height: 800px;
}

/*FOOTER*/
footer {
    background-color: #19647E;
    padding: 10px;
    height: 91px;
    width: 100%;
    position: fixed;
    left: 0;
    bottom: 0;
}

.footer-divisor {
    display: flex;
}

.footer-divisor .instagram-whatsapp {
    display: flex;
    width: 79px;
    height: 24px;
    justify-content: center;
    align-items: flex-start;
    gap: 20px;
    flex-shrink: 0;
    padding: 20px 1268px 20px 93px;
}

.footer-divisor .ubicacion-texto {
    color: white;
    display: flex;
    width: 79px;
    height: 24px;
    justify-content: center;
    align-items: flex-start;
    gap: 20px;
    flex-shrink: 0;
    padding: 20px 106px;
}

.footer-divisor .ubicacion-texto .calle {
    display: flex;
    width: 81px;
    height: 23px;
    flex-direction: column;
    justify-content: center;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}